.slds-modal__header {
    background-color: rgb(248, 244, 244);
    border-top: 2px solid grey;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
}

.slds-modal__content {
    border-right: 2px solid grey;
    border-left: 2px solid grey;
}

.slds-modal__footer {
    border-right: 2px solid grey;
    border-left: 2px solid grey;
    border-bottom: 2px solid grey;
}

.slds-modal__container{
    width: 95% !important;
    max-width: 95% !important;
}